<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./head") %> 
</head>

<body>
    <%- include("./header") %> 

    <div class="welcome">
        <p>Email sent to: <br><strong><%= email %></strong><br> with a joke: <br></p><p><strong><%= data %></strong></p>
    </div>

    <%- include("./footer") %> 
</body>

</html>